@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: rgb(123, 100, 232);
    background: linear-gradient(0deg, rgba(123, 100, 232, 1) 0%, rgba(176, 103, 234, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.card {
    background-color: white;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 5px 10px 30px 8px rgba(0, 0, 0, 0.3);

}

.question-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    align-items: center;
    cursor: pointer;
}

.question {
    font-size: 14px;
    font-weight: 700;
    color: #323141;

}

.arrow {
    width: 10px;
    height: 8px;
}

.answer {
    color: hsl(240, 6%, 50%);
    font-size: 14px;
    padding: 10px;
    animation: slideDown 0.3s ease;
}

hr {
    width: 95%;
    margin: 15px auto;
    border: none;
    height: 1px;
    background-color: hsl(240, 5%, 91%);
}

.image-container {
    height: 130px;
    position: relative;
}

.img {
    position: absolute;
    top: -150px;
}

.img-shadow {
    width: 100%;
    position: absolute;
    top: -10px;

}


@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (min-width: 900px) {
    .card {
        width: 700px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .text-container,
    .image-container {
        flex: 1;
    }

    .heading {
        padding-left: 10px;
        text-align: left;
    }

    .img {
        position: absolute;
        left: -100px;
        width: 400px;
        top: -100px;
    }

    .img-shadow {
        width: 1000px;
        position: absolute;
        top: 100px;
        left: -200px;
        width: 500px;

    }

}